{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com?plugins=typography"></script>
    <!-- {% tailwind_css %} -->
</head>
<body>
<main>
  <h1>Dynamic</h1>
  <div>
    {% block navbar %}
    No navbar

    {% endblock %}

  </div>

  <div>
    {% block comment %}
    no comment
    
    {% endblock %}
  </div>

</main>
 
    
</body>
</html>